Repository d4l-data4life/hc-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

Change CI to use two distinct workflows
  .github/workflows/d4l-ci-pull-request-precheck.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Add fail to dangerfile in case changeset is bigger than 2000 lines Changed download script to include danger and a download all task
  Dangerfile.df.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
Labels: dependencies

Change dangerfile for feature branches to allow numbers
  Dangerfile.df.kts
Labels: none

Remove jCenter
  build.gradle.kts
  buildSrc/src/main/kotlin/Repository.kt
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  settings.gradle.kts
Labels: dependencies

Update signatures
  build.gradle.kts
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
Labels: none

Fix Danger workflow
  .github/workflows/d4l-ci-pull-request-precheck.yml
Labels: build

Fix scripts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
Labels: dependencies

Change publishing to use one repository for releases, snapshots and features each
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
  buildscript-gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  settings.gradle.kts
Labels: dependencies

Remove DependencyLocking
  build.gradle.kts
  buildscript-gradle.lockfile
  gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
  settings.gradle.kts
  util/gradle.lockfile
Labels: library

Bump updates
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies, documentation

Bump ktlint
  CHANGELOG.adoc
  buildSrc/build.gradle.kts
  settings.gradle.kts
Labels: dependencies, documentation

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Enable iOS
  .idea/compiler.xml
  util/build.gradle.kts
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/HashUtil.kt
Labels: library

Add Base64 encode
  util/build.gradle.kts
  util/src/androidMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/commonMain/kotlin/care/data4life/sdk/log/Log.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/jvmMain/kotlin/care/data4life/sdk/util/Serializable.kt
Labels: library

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Add encodeToString (String -> String)
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/Base64Test.kt
Labels: library

Add full iOS support for Base64
  CHANGELOG.adoc
  util/src/androidTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/Base64Test.kt
Labels: documentation, library

Add NSDataMapper
  util/src/androidTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/NSDataMapper.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/NSDataMapperTest.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/Base64Test.kt
Labels: library

Update Changelog
  CHANGELOG.adoc
Labels: documentation

Enhance memory handling
  util/src/iosMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/NSDataMapper.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/NSDataMapperTest.kt
Labels: library

Add sha1 iOS
  CHANGELOG.adoc
  util/src/iosMain/kotlin/care/data4life/sdk/util/HashUtil.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
Labels: documentation, library

Add util-test
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  settings.gradle.kts
  util-test/build.gradle.kts
  util-test/src/androidMain/AndroidManifest.xml
  util-test/src/androidMain/kotlin/care/data4life/sdk/util/BlockingTest.kt
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/BlockingTest.kt
  util-test/src/commonTest/kotlin/care/data4life/sdk/util/BlockingTestTest.kt
  util-test/src/iosMain/kotlin/care/data4life/sdk/util/BlockingTest.kt
  util-test/src/jvmMain/kotlin/care/data4life/sdk/util/BlockingTest.kt
Labels: dependencies, documentation

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - util/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
