Repository d4l-data4life/hc-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
library:
  - util/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Add badges as offline version
  assets/images/badges.adoc
  assets/images/license-private-blue.svg
  assets/images/platform-support-android-jvm.svg
  assets/images/version-latest.svg
Labels: none

Update Readme to latest project style and replaced badges links with images
  README.adoc
Labels: documentation

Prepare release of 1.7.0
  CHANGELOG.adoc
  README.adoc
Labels: documentation

Update CI badge
  README.adoc
Labels: documentation

Add Spotless Gradle Plugin to improve code quality
  build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Add spotless check for trailing whitespace and fixed copyright template
  .idea/copyright/data4life.xml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
  buildSrc/src/main/kotlin/Versions.kt
  gradle.properties
  settings.gradle.kts
  util/build.gradle.kts
  util/src/androidMain/AndroidManifest.xml
  util/src/androidMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/androidMain/kotlin/care/data4life/sdk/util/HashUtil.kt
  util/src/androidMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/androidTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/androidTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
  util/src/commonMain/kotlin/care/data4life/sdk/config/DataRestriction.kt
  util/src/commonMain/kotlin/care/data4life/sdk/config/DataRestrictionException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/lang/D4LException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/lang/D4LRuntimeException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/log/EmptyLogger.kt
  util/src/commonMain/kotlin/care/data4life/sdk/log/Log.kt
  util/src/commonMain/kotlin/care/data4life/sdk/log/Logger.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/CharByteConversion.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/HashUtil.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/MimeType.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/commonTest/kotlin/care/data4life/sdk/util/CharByteConversionTest.kt
  util/src/commonTest/kotlin/care/data4life/sdk/util/MimeTypeTest.kt
  util/src/jvmMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/jvmMain/kotlin/care/data4life/sdk/util/HashUtil.kt
  util/src/jvmMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
Labels: dependencies, library

Add ktlint to check the Kotlin code base, this requires ktlint installed locally
  .idea/codeStyles/Project.xml
  README.adoc
  build.gradle.kts
Labels: documentation

Change code base by applying ktlint rules
  util/src/androidMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/androidTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/androidTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
  util/src/commonMain/kotlin/care/data4life/sdk/config/DataRestriction.kt
  util/src/commonMain/kotlin/care/data4life/sdk/config/DataRestrictionException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/lang/D4LException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/lang/D4LRuntimeException.kt
  util/src/commonMain/kotlin/care/data4life/sdk/log/Logger.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/MimeType.kt
  util/src/commonMain/kotlin/care/data4life/sdk/util/Serializable.kt
  util/src/commonTest/kotlin/care/data4life/sdk/util/CharByteConversionTest.kt
  util/src/commonTest/kotlin/care/data4life/sdk/util/MimeTypeTest.kt
  util/src/jvmMain/kotlin/care/data4life/sdk/util/Base64.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
Labels: library

Add ktlint to project setup and updated code style for Kotlin
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/ktlint.xml
  .idea/inspectionProfiles/profiles_settings.xml
Labels: none

Add code style check to Gradle Kotlin Scripts
  build.gradle.kts
Labels: none

Bump Gradle 6.7.1 -> 6.8.2
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: none

Add misc configuration for adoc, md and git_ignore files
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
  build.gradle.kts
Labels: documentation

Extend scope to the whole project
  build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: dependencies

Bump Spotless 5.10.1 -> 5.10.2
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Fix project codestyle config
  .idea/codeStyles/Project.xml
Labels: none

Add changelog entry
  CHANGELOG.adoc
Labels: documentation

Add Gradle changelog entry
  CHANGELOG.adoc
Labels: documentation

Change setup to use hc-gradle-scripts as source of truth for Gradle scripts and add a download task to retrieve the latest versions of them
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality.gradle.kts
  buildSrc/src/main/kotlin/scripts/versioning.gradle.kts
Labels: dependencies

Fix code style
  build.gradle.kts
  util/src/androidTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/androidTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/util/HashUtilTest.kt
Labels: library

Reapply Android XML code styles
  .idea/codeStyles/Project.xml
  README.adoc
Labels: documentation

Remove Spotless dependency
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Change build Java version 8 -> 11
  .java-version
  .java_version
Labels: none

Add Gradle dependency locking configuration
  build.gradle.kts
  settings.gradle.kts
Labels: none

Add Gradle lockffiles
  buildscript-gradle.lockfile
  util/gradle.lockfile
Labels: library

Add readme and changelog entry
  CHANGELOG.adoc
  README.adoc
Labels: documentation

Bump Gradle 6.8.2 -> 6.8.3
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Pin Ktlint version for dependency locking
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality.gradle.kts
Labels: dependencies

Fix Gradle scripts
  .idea/codeStyles/Project.xml
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: none

Update dependency lock
  buildscript-gradle.lockfile
  gradle.lockfile
Labels: none

Add dependency verification based on signatures and hashes
  README.adoc
  gradle.properties
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
Labels: documentation

Change dependency validation hashing algorithm from SHA512 to SHA256 as dependencies usually only publish a SHA256 hash for validation
  gradle/verification-metadata.xml
  renewDependencyLock.sh
Labels: none

Change download task to precompiled Gradle script
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildscript-gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
  settings.gradle.kts
Labels: dependencies

Update publishing config script
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
Labels: dependencies

Change dependency updates to gradle script
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  buildSrc/src/main/kotlin/scripts/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildscript-gradle.lockfile
  gradle/verification-metadata.xml
Labels: dependencies

Change quality script to quality-spotless
  build.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
  settings.gradle.kts
Labels: dependencies

Add contentType to MimeTypeTest
  util/src/commonTest/kotlin/care/data4life/sdk/util/MimeTypeTest.kt
Labels: library

Fix dependency problem for MimeTypeTest
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  util/src/commonTest/kotlin/care/data4life/sdk/util/MimeTypeTest.kt
Labels: library

Fix dependency resolution to not use experimental settings.gradle.kts dependencyResolutionManagement Remove unused dependency repositories Fix verification data for trove4j
  build.gradle.kts
  buildSrc/src/main/kotlin/Repository.kt
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
  settings.gradle.kts
Labels: dependencies

Fix kts file
  build.gradle.kts
Labels: none

Add Danger CI job and Dangerfile
  .github/workflows/d4l-ci-pull-request-validation.yml
  Dangerfile.df.kts
Labels: build
