Repository d4l-data4life/hc-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, scripts, dependencies, documentation, util-library, sample-android, sample-jvm

Cleanup after merge
  build.gradle.kts
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Repository.kt
Labels: none

Solve Jetifier issue
  gradle.properties
Labels: none

Prepare Release of 1.11.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Fix Download Script
  buildSrc/src/main/kotlin/care/data4life/gradle/util/script/download-scripts.gradle.kts
Labels: scripts, dependencies

Bump Desugar
  CHANGELOG.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Bump Gradle
  CHANGELOG.adoc
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Labels: documentation

Bump AGP
  CHANGELOG.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Bump Kotlin
  CHANGELOG.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Bump Test-Utils
  CHANGELOG.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Bump Android Dependencies
  CHANGELOG.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Reduce noise
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Insurance.kt
  util/build.gradle.kts
Labels: dependencies, util-library

Bump Dependency Download
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Git hook
  buildSrc/build.gradle.kts
Labels: dependencies

Bump Spotless
  buildSrc/build.gradle.kts
Labels: dependencies

Bump ktlint
  buildSrc/build.gradle.kts
Labels: dependencies

Change Danger
  Dangerfile.df.kts
Labels: none

Update README
  README.adoc
Labels: documentation

Clean up
  build.gradle.kts
  buildSrc/build.gradle.kts
  util/src/iosTest/kotlin/care/data4life/sdk/util/NSDataMapperTest.kt
Labels: dependencies, util-library

Reimport Error
  CHANGELOG.adoc
  error/build.gradle.kts
  error/src/androidMain/AndroidManifest.xml
  error/src/androidMain/kotlin/care/data4life/sdk/lang/PlatformError.kt
  error/src/commonMain/kotlin/care/data4life/sdk/lang/D4LException.kt
  error/src/commonMain/kotlin/care/data4life/sdk/lang/D4LRuntimeException.kt
  error/src/commonMain/kotlin/care/data4life/sdk/lang/PlatformError.kt
  error/src/iosMain/kotlin/care/data4life/sdk/lang/PlatformError.kt
  error/src/jvmMain/kotlin/care/data4life/sdk/lang/PlatformError.kt
  settings.gradle.kts
Labels: documentation

Bump Danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
Labels: build

Prepare Release of 1.12.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Bump Robolectric
  buildSrc/src/main/kotlin/care/data4life/gradle/util/script/quality-spotless.gradle.kts
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: scripts, dependencies

Bump Compile Target
  buildSrc/src/main/kotlin/care/data4life/gradle/util/config/LibraryConfig.kt
Labels: dependencies

Bump Test Util
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: none

Prepare Release of 1.12.1
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
Labels: documentation

Prepare Release of 1.13.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Remove D4L Test Utils
  CHANGELOG.adoc
  error/build.gradle.kts
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Dependency.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
  util/build.gradle.kts
  util/src/androidTest/kotlin/care/data4life/sdk/annotation/PlatformOnly.kt
  util/src/androidTest/kotlin/care/data4life/sdk/annotation/RobolectricTestRunner.kt
  util/src/commonTest/kotlin/care/data4life/sdk/annotation/PlatformOnly.kt
  util/src/commonTest/kotlin/care/data4life/sdk/annotation/RobolectricTestRunner.kt
  util/src/commonTest/kotlin/care/data4life/sdk/util/Base64Test.kt
  util/src/iosTest/kotlin/care/data4life/sdk/annotation/PlatformOnly.kt
  util/src/iosTest/kotlin/care/data4life/sdk/annotation/RobolectricTestRunner.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/annotation/PlatformOnly.kt
  util/src/jvmTest/kotlin/care/data4life/sdk/annotation/RobolectricTestRunner.kt
Labels: documentation, util-library

Bump Updates
  CHANGELOG.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/util/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/script/versioning.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Dependency.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Insurance.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/gradle/util/dependency/Version.kt
  util/build.gradle.kts
  util/src/commonMain/kotlin/care/data4life/sdk/util/MimeType.kt
  util/src/iosTest/kotlin/care/data4life/sdk/util/NSDataMapperTest.kt
Labels: scripts, dependencies, documentation, util-library

Prepare Release of 1.14.0
  CHANGELOG.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
Labels: documentation

Align README
  README.adoc
Labels: documentation

Update README
  README.adoc
Labels: documentation

.github/labeler.yml:

build:
  - .github/**/*

scripts:
  - buildSrc/src/main/kotlin/care/data4life/gradle/util/script/**/*.kts

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
util-library:
  - util/**/*

# Sample Apps
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*
