Repository d4l-data4life/hc-util-sdk-kmp, pull requests merged in 2021-04, with the labels that each got.

#16 Fix dependency resolution
  build.gradle.kts
  buildSrc/src/main/kotlin/Repository.kt
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
  settings.gradle.kts
Labels: dependencies

#15 Add contentType to MimeTypeTest
  util/src/commonTest/kotlin/care/data4life/sdk/util/MimeTypeTest.kt
Labels: enhancement, library

#17 Add Danger
  .github/workflows/d4l-ci-pull-request-precheck.yml
  Dangerfile.df.kts
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
Labels: build, ci, dependencies

#18 Remove jCenter
  .github/workflows/d4l-ci-pull-request-precheck.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/Repository.kt
  buildSrc/src/main/kotlin/scripts/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
  buildSrc/src/main/kotlin/scripts/quality-spotless.gradle.kts
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  settings.gradle.kts
Labels: build, dependencies
