Repository d4l-data4life/hc-util-sdk-kmp, pull requests merged in 2021-07, with the labels that each got.

#20 Bump Updates
  CHANGELOG.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  buildscript-gradle.lockfile
  gradle.lockfile
  gradle/verification-keyring.gpg
  gradle/verification-metadata.xml
  renewDependencyLock.sh
  settings.gradle.kts
  util/gradle.lockfile
Labels: dependencies, documentation, library

#28 Prepare Release 1.8.0
  CHANGELOG.adoc
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/test/BlockingTest.kt
Labels: documentation

#29 Add iOS min version
  CHANGELOG.adoc
  gradle.properties
Labels: bug, documentation

#30 Prepare Release 1.8.1
  CHANGELOG.adoc
Labels: documentation

#38 Change codeowners
  .github/CODEOWNERS
Labels: build

#31 Add resource loader for common
  .gitignore
  .idea/compiler.xml
  CHANGELOG.adoc
  util-test/build.gradle.kts
  util-test/src-gen/commonTest/kotlin/care/data4life/sdk/util/test/config/.gitkeep
  util-test/src/androidMain/kotlin/care/data4life/sdk/util/test/CommonResourceLoader.kt
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/test/CommonResourceLoader.kt
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/test/Constants.kt
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/test/lang/FileNotFoundError.kt
  util-test/src/commonTest/kotlin/care/data4life/sdk/util/test/CommonResourceLoaderTest.kt
  util-test/src/commonTest/resources/exampleEncoding.json
  util-test/src/commonTest/resources/somethingElse.json
  util-test/src/commonTest/resources/templates/TestConfig.tmpl
  util-test/src/iosMain/kotlin/care/data4life/sdk/util/test/CommonResourceLoader.kt
  util-test/src/jvmMain/kotlin/care/data4life/sdk/util/test/CommonResourceLoader.kt
  util-test/src/jvmTest/resources/example.json
Labels: documentation, feature

#32 Add mock object response
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  util-test/build.gradle.kts
  util-test/src/commonMain/kotlin/care/data4life/sdk/util/test/ktor/HttpMockObjectResponse.kt
  util-test/src/commonTest/kotlin/care/data4life/sdk/util/test/ktor/HttpMockObjectResponseTest.kt
Labels: dependencies, documentation, feature

#33 Add coroutine util
  .github/labeler.yml
  .github/labels.yml
  .idea/compiler.xml
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/Versions.kt
  settings.gradle.kts
  util-coroutine/build.gradle.kts
  util-coroutine/src/androidMain/AndroidManifest.xml
  util-coroutine/src/androidMain/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlow.kt
  util-coroutine/src/androidTest/kotlin/care/data4life/sdk/util/coroutine/D4lSDKFlowAndroidTest.kt
  util-coroutine/src/commonMain/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlow.kt
  util-coroutine/src/commonMain/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlowContract.kt
  util-coroutine/src/commonTest/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlowTest.kt
  util-coroutine/src/iosMain/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlow.kt
  util-coroutine/src/iosTest/kotlin/care/data4life/sdk/util/coroutine/D4lSDKFlowIosTest.kt
  util-coroutine/src/jvmMain/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlow.kt
  util-coroutine/src/jvmTest/kotlin/care/data4life/sdk/util/coroutine/D4lSDKFlowJvmTest.kt
  util-test/src/iosMain/kotlin/care/data4life/sdk/util/test/CommonResourceLoader.kt
  util/src/iosMain/kotlin/care/data4life/sdk/util/HashUtil.kt
Labels: build, dependencies, documentation, feature, util-coroutine-library, util-library, util-test-library

#36 Bump AndroidGradle
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Versions.kt
Labels: build, dependencies, documentation, util-coroutine-library, util-library, util-test-library

#39 Prepare Release 1.9.0
  CHANGELOG.adoc
Labels: documentation

#40 Prepare Release 1.9.0
  CHANGELOG.adoc
  README.adoc
Labels: documentation

#41 Change test config
  util-test/build.gradle.kts
  util-test/src/commonTest/kotlin/care/data4life/sdk/util/test/CommonResourceLoaderTest.kt
  util-test/src/commonTest/resources/template/TestConfig.tmpl
Labels: util-test-library

#42 Change Release number
  README.adoc
Labels: documentation

#44 Change D4LSDKFlow Test
  util-coroutine/src/commonTest/kotlin/care/data4life/sdk/util/coroutine/D4LSDKFlowTest.kt
Labels: util-coroutine-library
