Repository d4l-data4life/hc-util-sdk-kmp, pull requests merged in 2021-08, with the labels that each got.

#48 Change Setup
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  .gitignore
  .idea/compiler.xml
  CHANGELOG.adoc
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/util/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/util/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/versioning.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/util-dependency/build.gradle.kts
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/sdk/util/dependency/Dependency.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/sdk/util/dependency/DependencyPlugin.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/sdk/util/dependency/GradlePlugin.kt
  gradlePlugin/util-dependency/src/main/kotlin/care/data4life/sdk/util/dependency/Version.kt
  settings.gradle.kts
  util/build.gradle.kts
Labels: documentation, build, dependencies, ci, util-library

#50 Prepare Release 1.10.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  buildSrc/src/main/kotlin/care/data4life/sdk/util/LibraryConfig.kt
Labels: documentation, build, dependencies, util-library

#52 Change readme
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  README.adoc
Labels: documentation
